@{
    Layout = null;
}
<!DOCTYPE html>

<!--[if IEMobile 7]><html class="no-js iem7 oldie linen"><![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js ie7 oldie linen" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js ie8 oldie linen" lang="en"><![endif]-->
<!--[if (IE 9)&!(IEMobile)]><html class="no-js ie9 linen" lang="en"><![endif]-->
<!--[if (gt IE 9)|(gt IEMobile 7)]><!--><html class="no-js carbon" lang="en"><!--<![endif]-->

<head>
    <title>O.D.I.S. - Optimized Dispatch Information System</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- For all browsers -->
       
    <link rel="stylesheet" href="@Url.Content("~/Content/reset.css?v=1")">
    <link rel="stylesheet" href="@Url.Content("~/Content/style.css?v=1")">
    <link rel="stylesheet" href="@Url.Content("~/Content/colors.css?v=1")">
    <link rel="stylesheet" media="print" href="@Url.Content("~/Content/print.css?v=1")">
    <!-- For progressively larger displays -->
    <link rel="stylesheet" media="only all and (min-width: 480px)" href="@Url.Content("~/Content/480.css?v=1")">
    <link rel="stylesheet" media="only all and (min-width: 768px)" href="@Url.Content("~/Content/768.css?v=1")">
    <link rel="stylesheet" media="only all and (min-width: 992px)" href="@Url.Content("~/Content/992.css?v=1")">
    <link rel="stylesheet" media="only all and (min-width: 1200px)" href="@Url.Content("/Content/1200.css?v=1")">
    <!-- For Retina displays -->
    <link rel="stylesheet" media="only all and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)"
        href="@Url.Content("~/Content/2x.css?v=1")">
    <!-- Additional styles -->
    <link rel="stylesheet" href="@Url.Content("~/Content/styles/form.css?v=1")"/>
    <link rel="stylesheet" href="@Url.Content("~/Content/styles/switches.css?v=1")"/>
    <!-- Login pages styles -->
    <link rel="stylesheet" media="screen" href="@Url.Content("~/Content/login.css?v=1")"/>
    <link rel="stylesheet" media="screen" href="@Url.Content("~/Scripts/libs/formValidator/developr.validationEngine.css")"/>
    <!-- JavaScript at bottom except for Modernizr -->
    <script src="@Url.Content("~/Scripts/libs/modernizr.custom.js")"></script>
    <!-- For Modern Browsers -->
    <link rel="shortcut icon" href="@Url.Content("~/Content/img/favicons/favicon.png")">
    <!-- For everything else -->
    <link rel="shortcut icon" href="@Url.Content("~/Content/img/favicons/favicon.ico")">
    <!-- For retina screens -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="@Url.Content("~/Content/img/favicons/apple-touch-icon-retina.png")">
    <!-- For iPad 1-->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="@Url.Content("~/Content/img/favicons/apple-touch-icon-ipad.png")">
    <!-- For iPhone 3G, iPod Touch and Android -->
    <link rel="apple-touch-icon-precomposed" href="@Url.Content("~/Content/img/favicons/apple-touch-icon.png")">
    <!-- iOS web-app metas -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Startup image for web apps -->
    <link rel="apple-touch-startup-image" href="../Content/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
    <link rel="apple-touch-startup-image" href="../Content/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="../Content/img/splash/iphone.png" media="screen and (max-device-width: 320px)">
</head>
<h2>
 <div>
        <hgroup id="login-title" class="large-margin-bottom">
			<h1 class="appTitle">O.D.I.S. - Optimized Dispatch Information System</h1>
		</hgroup>
        	<div>
                        <img src="../../Content/img/ODISlogo.png" height="403px" width="280px" alt="O.D.I.S. - Optimized Dispatch Information System" class="margin-bottom margin-top align-center" />

            <p>An unexpected error has occurred.  If this error persists, please contact your system administrator with the id [ @TempData["errorkey"] ].</p> 
            
   </div>
   </div>
</h2>
