@model Martex.DMS.DAL.DAO.QA.CoachingConcernsSearchCriteria
@using Martex.DMS.DAL.Entities
@using Kendo.Mvc.UI
@using Martex.DMS.DAL.DAO.Admin
@{
    int i = 0;
    string userId = System.Web.Security.Membership.GetUser(true).ProviderUserKey.ToString();
    string uniqueID = System.Guid.NewGuid().ToString();
    string pageName = "CoachingConcerns";
    string JSMethodNameToCollectData = "GetSelectionCriteria";
    string tragetSaveMethodName = "SaveFilterSearchCriteriaForCoachingConcerns";
    string applyCallBackFuntion = "LoadCoachingConcernsPredefinedViews";
}
<style type="text/css">
    .search
    {
        width: 90% !important;
    }
    input.full-width
    {
        width: 90% !important;
    }
</style>
<script type="text/javascript">
    function SearchConcernTypeID_Combo_OnChange() {
        var combo = $("#SearchByConcernTypeID").data('kendoComboBox');
        var concerns = $("#SearchByConcernID").data('kendoComboBox');

        if (!IsUserInputValidForChangeOnKendoCombo(combo)) {
            e.preventDefault();
        }

        $.ajax({
            url: '@Url.Action("GetConcerns", "ReferenceData", new { area = "Common" })',
            data: { concernTypeID: combo.value() },
            success: function (msg) {
                concerns.setDataSource(msg);
                concerns.select(0);
                SetFocusOnField("SearchByConcernID");
            }
        });
    }
</script>
<li>
    <form id="frmCoachingConcernsSearchParams" action="javascript:void(0)" method="post">
    @Html.Hidden("CoachingConcernSearchViewID", string.Empty)
    @Html.HiddenFor(u => u.GridSortOrder)
    @Html.HiddenFor(u => u.GridSortColumnName)
    @Html.HiddenFor(u => u.ResetModelCriteria)
    @Html.HiddenFor(u => u.PanelItemsSelected)
    @Html.HiddenFor(u => u.PanelViewsSelected)
    @Html.HiddenFor(u => u.PanelNameSelected)
    @Html.HiddenFor(u => u.PanelConcernTypeListSelected)
    @Html.HiddenFor(u => u.PanelConcernSelected)
    @Html.HiddenFor(u => u.PanelConcernStatusListSelected)
    @(Html.Kendo().PanelBar()
          .Name("panelbarSearchCriteria")
          .ExpandMode(PanelBarExpandMode.Multiple)
          .Events(events => events.Collapse("fnPanelCollapseR").Expand("fnPanelExpandR"))
          .Items(panelbar =>
          {

              panelbar.Add().Text("Search").Content(
              @<div class="with-padding">
                  <p class="button-height">
                      <a href="javascript:void(0)" class="button icon-search big green-gradient full-width"
                          onclick="GetSelectedCriteria();">Search </a>
                  </p>
              </div>
              ).Expanded(true).LinkHtmlAttributes(new { id = "Panel_PanelSearch" });


              panelbar.Add().Text("Views").Content(
             @<div class="with-padding small-margin-right">
                 @Html.Editor("FilterView", "FilterView", new
            {
                filterView = new Martex.DMS.DAL.Entities.FilterViewEntity(pageName, userId, applyCallBackFuntion, uniqueID, tragetSaveMethodName, JSMethodNameToCollectData)
            })
             </div>
              ).Expanded(Model.PanelViewsSelected).LinkHtmlAttributes(new { id = "Panel_PanelViewsSelected" });


              panelbar.Add().Text("Items Selected").Content(
                @<div class="with-padding" id="QACoachingConcernSelectedSearchCriteriaDetails">
                    @Html.Partial("_SelectedCriteria", Model)
                </div>
             ).Expanded(Model.PanelItemsSelected).LinkHtmlAttributes(new { id = "Panel_PanelItemsSelected" });

              panelbar.Add().Text("Name").Expanded(Model.PanelNameSelected.HasValue ? Model.PanelNameSelected.Value : true).LinkHtmlAttributes(new { id = "Panel_PanelNameSelected" })
              .Content(@<div class="with-padding">
                  <div class="button-height inline-label small-margin-bottom">
                      <label class="label">
                          Type
                      </label>
                      @(Html.Kendo().ComboBoxFor(u => Model.NameType)
                    .BindTo(ViewData[Martex.DMS.ActionFilters.StaticData.CoachingConcernNameType.ToString()] as IEnumerable<SelectListItem>)
                    .SelectedIndex(0)
                    .HighlightFirst(true)
                    .Filter(FilterType.StartsWith).MinLength(0)
                    .Suggest(true)
                    .Events(events => events.Change("ValidateInputForKendoCombo"))
                    .Value(string.IsNullOrEmpty(Model.NameType) ? string.Empty : Model.NameType)
                    .HtmlAttributes(new { style = "width:90%;" })
                    .Suggest(true)
                    )
                  </div>
                  <p class="inline-label">
                      <label class="label">
                          Name</label>
                      @Html.TextBoxFor(u => Model.NameValue, new { @class = "input full-width" })
                  </p>
                  <div class="button-height inline-label small-margin-bottom">
                      <label class="label">
                          value that
                      </label>
                      @(Html.Kendo().ComboBoxFor(u => Model.NameOperator)
                    .BindTo(ViewData[Martex.DMS.ActionFilters.StaticData.SearchFilterTypes.ToString()] as IEnumerable<SelectListItem>)
                    .SelectedIndex(0)
                    .HighlightFirst(true)
                    .Suggest(true)
                    .Filter(FilterType.StartsWith).MinLength(0)
                    .Events(events => events.Change("ValidateInputForKendoCombo"))
                    .Value(string.IsNullOrEmpty(Model.NameOperator) ? string.Empty : Model.NameOperator)
                    .HtmlAttributes(new { style = "width:90%;" })
                    .Suggest(true)
                    )
                  </div>
              </div>
              );

              panelbar.Add().Text("Concern Type").Expanded(Model.PanelConcernTypeListSelected.HasValue ? Model.PanelConcernTypeListSelected.Value : true).LinkHtmlAttributes(new { id = "Panel_PanelConcernTypeListSelected" })
              .Content(@<div class="with-padding" id="chkConcernTypesList">
                  @if (Model.ConcernTypeList != null && Model.ConcernTypeList.Count > 0)
                  {
                      for (i = 0; i < Model.ConcernTypeList.Count; i++)
                      {
                      <div class="with-small-padding">
                          <div>
                              @Html.HiddenFor(u => Model.ConcernTypeList[i].ID)
                              @Html.HiddenFor(u => Model.ConcernTypeList[i].Name)
                              @Html.CheckBoxFor(u => Model.ConcernTypeList[i].Selected, new { @class = "checkbox", recordID = Model.ConcernTypeList[i].ID, recordName = Model.ConcernTypeList[i].Name })
                              @Model.ConcernTypeList[i].Name
                          </div>
                      </div>
                      }

                  }
              </div>
               );

              panelbar.Add().Text("Concern").Expanded(Model.PanelConcernSelected.HasValue ? Model.PanelConcernSelected.Value : true).LinkHtmlAttributes(new { id = "Panel_PanelConcernSelected" })
              .Content(@<div class="with-padding">
                  <div class="button-height inline-label small-margin-bottom">
                      <label class="label">
                          Concern Type
                      </label>
                      @(Html.Kendo().ComboBoxFor(u => u.SearchByConcernTypeID)
                          .BindTo(ViewData[Martex.DMS.ActionFilters.StaticData.ConcernType.ToString()] as IEnumerable<SelectListItem>)
                          .Suggest(true)
                          .HighlightFirst(true)
                          .Filter(Kendo.Mvc.UI.FilterType.StartsWith).MinLength(0)
                          .Events(events => events.Change("SearchConcernTypeID_Combo_OnChange"))
                          .HtmlAttributes(new { style = "width:90%;" })
                          .Value(!Model.SearchByConcernTypeID.HasValue ? string.Empty : Model.SearchByConcernTypeID.GetValueOrDefault().ToString())
                         )
                  </div>
                  <br />
                  <div class="button-height inline-label small-margin-bottom">
                      <label class="label">
                          Concern
                      </label>
                      @(Html.Kendo().ComboBoxFor(u => u.SearchByConcernID)
                          .BindTo(ViewData[Martex.DMS.ActionFilters.StaticData.Concern.ToString()] as IEnumerable<SelectListItem>)
                          .Suggest(true)
                          .HighlightFirst(true)
                          .Filter(Kendo.Mvc.UI.FilterType.StartsWith).MinLength(0)
                          .Events(events => events.Change("ValidateInputForKendoCombo"))
                          .HtmlAttributes(new { style = "width:90%;" })
                          .Value(!Model.SearchByConcernID.HasValue ? string.Empty : Model.SearchByConcernID.GetValueOrDefault().ToString())
                         )
                  </div>
              </div>);


              panelbar.Add().Text("Concern Status").Expanded(Model.PanelConcernStatusListSelected.HasValue ? Model.PanelConcernStatusListSelected.Value : true).LinkHtmlAttributes(new { id = "Panel_PanelConcernStatusListSelected" })
              .Content(@<div class="with-padding">
                  <h3>
                      Coming Soon</h3>
              </div>);
          }))
    </form>
</li>
<script type="text/javascript">
    function LoadCoachingConcernsPredefinedViews(recordID) {
        $('#CoachingConcernSearchViewID').val(recordID);
        GetSearchCriteria();
        var gridReference = $('#GrdCoachingConcern').data('kendoGrid').dataSource;

        var sortOrder = $('#GridSortOrder').val();
        var sortColumn = $('#GridSortColumnName').val();
        if (sortOrder != undefined && sortColumn != undefined) {
            gridReference.sort({ field: sortColumn, dir: sortOrder });
        }
        gridReference.read();
        setTimeout(function () {
            $('#CoachingConcernSearchViewID').val('');
        }, 1000);
    }
</script>

<script type="text/javascript">
    $(function () {
        $("#SearchByConcernTypeID").data("kendoComboBox").list.width(250);
        $("#SearchByConcernID").data("kendoComboBox").list.width(250);
    });
</script>