@using Martex.DMS.Models
@using Martex.DMS.Areas.Application.Models
<ul id="shortcuts" role="complementary" class="children-tooltip tooltip-right adminManagementShortcuts">
    @if (DMSSecurityProvider.GetAccessType(DMSSecurityProviderFriendlyName.MENU_TOP_ADMIN) == AccessType.ReadWrite)
    {
        <li id="LMenu_Admin_DashBoard"><a href="@Url.Action("Index", "Dashboard", new { area = "Admin" })" class="shortcut-dashboard" title="Dashboard" data="Dashboard">
            Dashboard</a></li>
    }
    @if (DMSSecurityProvider.GetAccessType(DMSSecurityProviderFriendlyName.MENU_LEFT_ADMIN_MAINTENANCE) == AccessType.ReadWrite)
    {
        <li id="LMenu_AdminManagement"><a href="@Url.Action("Index", "SystemMaintenance", new { area = "Admin" })" class="shortcut-stats" title="Maintenance" data ="SystemMaintenance">
            System Maintenance</a></li>
    }
    @if (DMSSecurityProvider.GetAccessType(DMSSecurityProviderFriendlyName.MENU_LEFT_ADMIN_PROGRAM_MANAGEMENT) == AccessType.ReadWrite)
    { 
        <li id="LMenu_ProgramManagement"><a href="@Url.Action("Index", "ProgramManagement", new { area = "Admin" })" class="shortcut-agenda" title="Program" data ="ProgramManagement">
            Program Management</a></li>
    }
    @if (DMSSecurityProvider.GetAccessType(DMSSecurityProviderFriendlyName.MENU_LEFT_ADMIN_SECURABLE_MANAGEMENT) == AccessType.ReadWrite)
    { 
        <li><a href="@Url.Action("Index", "SecurableAccessControl", new { area = "Admin" })" class="shortcut-settings" title="Securables" data ="SecurableAccessControl">
            Securables</a></li>
    }
    
    <li><a href="@Url.Action("Index", "MessageMaintenance", new { area = "Admin" })" class="shortcut-messagemaintenance" title="Message Maintenance" data ="MessageMaintenance">
        Message</a></li>

    <li><a href="@Url.Action("Index", "EventViewer", new { area = "Admin" })" class="shortcut-eventviewer" title="Event Viewer" data ="EventViewer">
        Event Viewer</a></li>
</ul>
<script type="text/javascript">
    $(function () {
        $('.adminManagementShortcuts li').each(function () {
            $(this).removeClass("current");
        });

        var currentController = '@ViewContext.RouteData.Values["controller"]';
        $('.adminManagementShortcuts li a').each(function () {
            if ($(this).attr("data") == currentController) {
                $(this).parent().addClass("current");
            }
        });
    });
</script>
