@using Kendo.Mvc.UI
@model Martex.DMS.DAL.PurchaseOrder
<script type="text/javascript">
    function oncomboboxchange_VehicleWieght(e) {
        var combo = $('#copyVehicleWieght').data('kendoComboBox');
        HideValidationMessage($('input[name="copyVehicleWieght_input"]'));
        if (!IsUserInputValidForChangeOnKendoCombo(combo)) {
            e.preventDefault();
        }
        else {
            BindServiceType();
        }
    }

    function onComboBoxChange_ServiceType(e) {
        HideValidationMessage($('input[name="copyServiceType_input"]'));
        var combo = $('#copyServiceType').data('kendoComboBox');
        if (!IsUserInputValidForChangeOnKendoCombo(combo)) {
            e.preventDefault();
        }
    }
    function BindServiceType() {
        var serviceTypeCombo = $('#copyServiceType').data('kendoComboBox');
        var wieght_value = $('#copyVehicleWieght').data('kendoComboBox').value();
        var poId = $("#CopyPOID").val();
        if (wieght_value != null && wieght_value != '') {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetCopyPOProduct", "History", new { area = "Application" })',
                traditional: true,
                data: { weightId: wieght_value, poId: poId },
                cache: false,
                async: true,
                success: function (msg) {
                    serviceTypeCombo.setDataSource(msg);
                    serviceTypeCombo.value('');
                }
            });
        }
        else {
            var placeHolder = [{ Selected: "True", Text: "Select", Value: ""}];
            serviceTypeCombo.dataBind(placeHolder);
            serviceTypeCombo.select(0);
        }
    }
</script>
<p>
    To copy this PO select a weight class and service from the dropdown lists and click
    Copy PO. if you do not want to copy this PO then click Cancel.</p>
<form name="frmCopypo" id="frmCopypo" action="#">
@Html.HiddenFor(p => p.ID)
@Html.Hidden("CopyPOID", Model.ID)
<div class="with-padding">
    <div class="columns">
        <div class="button-height inline-label small-margin-bottom">
            <label for="WeightClass" class="label">
                Weight Class</label>
            @(Html.Kendo().ComboBox()
                .Name("copyVehicleWieght")
                .Filter(Kendo.Mvc.UI.FilterType.StartsWith).MinLength(0)
                .Events(events => events.Change("oncomboboxchange_VehicleWieght"))
                .Suggest(true)
                .HtmlAttributes(new { @class = "selectlabel full-width2" })
                .BindTo(ViewData[Martex.DMS.ActionFilters.StaticData.VehicleCategory.ToString()] as IEnumerable<SelectListItem>)
                .Value(Model.VehicleCategoryID.ToString())
                )
        </div>
        <div class="button-height inline-label small-margin-bottom">
            <label for="ServiceType" class="label">
                Service Type</label>
            @(Html.Kendo().ComboBox()
            .Name("copyServiceType")
            .DataTextField("Text")
            .DataValueField("Value")
            .Filter(Kendo.Mvc.UI.FilterType.StartsWith).MinLength(0)
            .Events(events => events.Change("onComboBoxChange_ServiceType"))
            .Suggest(true)
                    .HtmlAttributes(new { @class = "selectlabel full-width2" })
            )
        </div>
    </div>
    <div class="clear">
    </div>
    <div>
        <button id="btnCancel" class="button silver-gradient  float-right margin-top small-margin-bottom  margin-left"
            type="button" value="Auto">
            Cancel</button>
        <button id="btnCopyPO" class="button green-gradient  float-right margin-top small-margin-bottom"
            type="button" value="Auto">
            Copy PO</button>
    </div>
</div>
</form>
<script type="text/javascript">
    $(function () {
        WatchMyContainer('frmCopypo');
        //KB: Set the width of the dropdown container to be 250px
        $("#copyServiceType").data("kendoComboBox").list.width(250);

        BindServiceType();
        $("#btnCancel").on('click', function () {
            if (IsMyContainerDirty('frmCopypo')) {
                var message = "Changes have not been saved; do you want to continue and lose the changes or cancel and go back to the page?";
                $.modal.confirm(message, function () {
                    HideValidationMessage($('input[name="copyVehicleWieght_input"]'));
                    HideValidationMessage($('input[name="copyServiceType_input"]'));
                    document.dialogResult = "CANCEL";
                    CleanMyContainer("frmCopypo");
                    POCopyWindow.data('kendoWindow').close();

                }, function () {
                    return false;
                });
            }
            else {
                HideValidationMessage($('input[name="copyVehicleWieght_input"]'));
                HideValidationMessage($('input[name="copyServiceType_input"]'));
                document.dialogResult = "CANCEL";
                CleanMyContainer("frmCopypo");
                POCopyWindow.data('kendoWindow').close();
            }
            
        });

        $("#btnCopyPO").on('click', function () {
            var retVal = false;
            var copyRefresh = false;
            var $form = $("#frmCopypo");
            if ($form.validationEngine('validate') == false) {
                return retVal;
            }

            var formdata = $form.serializeArray();
            var isFormValid = true;
            var $wieght = $("#copyVehicleWieght").data("kendoComboBox").value();
            var $serviceType = $("#copyServiceType").data("kendoComboBox").value();

            if ($.trim($wieght).length == 0) {
                isFormValid = false;
                ShowValidationMessage($('input[name="copyVehicleWieght_input"]'), "Weight Class is required. ");
                $('#copyVehicleWieght-input').focus();
            }
            else if ($.trim($serviceType).length == 0) {
                isFormValid = false;
                ShowValidationMessage($('input[name="copyServiceType_input"]'), "Service Type is required. ");
                $('#copyServiceType-input').focus();
            }

            if (!isFormValid) {
                return false;
            }
            formdata.push({ name: "VehicleCategoryID", value: $wieght });
            var newPoId;
            $.ajax({
                type: 'POST',
                url: '@Url.Action("CopyPO", "History", new { area = "Application" })',
                traditional: true,
                data: formdata,
                cache: false,
                async: false,
                success: function (msg) {
                    if (msg.Status == "Success") {
                        newPoId = msg.Data;
                        CleanMyContainer("frmCopypo");
                        HideValidationMessage($('input[name="copyVehicleWieght_input"]'));
                        HideValidationMessage($('input[name="copyServiceType_input"]'));
                        POCopyWindow.data('kendoWindow').close();
                        LoadHistoryPoDetails(newPoId, null, 'Edit');
                    }
                }
            });
            
        });
    });
</script>
