@model List<Martex.DMS.DAL.PaymentSendReceiptHistory_Result>
<div class="scrollable">
    @for (int i = 0; i < Model.Count; i++)
    {
        <div class="sendPOHistory" style="width: 100%; float: left; display: inline-table;
        margin-bottom: 10px; margin-top: 5px;" id="@("sendPOHistory" + i.ToString())">
            <div class="sendhistoryDetails" style="width: 100%; float: left;">
                <ul style="list-style-type: none; margin-left: 5px;">
                    <li>@Model[i].ContactMethod
                        @if (@Model[i].ContactMethod.Equals("Text"))
                        {
                            @Html.Editor("PhoneNumber" + i.ToString() + "_History", "Phone", new { Value = Model[i].SentTo, ReadOnly = true, CallType = "Vendor"})
                        }
                        else
                        {
                            @Model[i].SentTo 
                        }
                        @Model[i].ContactAction
                        @Model[i].DateSent
                        @Model[i].Username
                    </li>
                </ul>
            </div>
        </div>
    }
</div>
