@using Kendo.Mvc.UI;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/ContentMaster-home.cshtml";
}
<!-- TOP AREA -->

<div class="top-area shadow-inner show-onload">



    <div class="top-bg-area bg-mask bg-mask bg-img" data-bg-img="../../Content/home/img/bg/viewpinn_hero.jpg">

        <div class="bg-mask-front bg-mask full">
            <div class="vertical-center mask-front white">
                <div class="container">
                    <div class="row">
                        <div class="span12 offset1 right">
                            <a href="#myModal" role="link" class="helpmodal white" data-toggle="modal">Having trouble Registering or Logging In on this site? Click here. </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span8 offset2 center">
                            <h1 class="super-hero-title">Welcome to the Pinnacle Partner Network</h1>
                            <div class="gap gap-small"></div> <a href="@Url.Action("Index", "Apply", new { area = "" })" class="btn btn-primary btn-mega">Apply to become a Partner</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END TOP AREA  -->

<div class="bg-color">
    <div class="container">
        <div class="gap gap-big">
            <h1 class="white">Get Ready For A New Standard In The Towing Industry</h1>
<p class="white">Coach-Net, a name you already know and trust, is changing the name of our dispatch operations to Pinnacle Dispatch Solutions. The change reflects our expansion into new markets, new products, and new business relationships. It also underscores our unparalleled commitment to a concierge-class level of service and to you, our towing partners.</p>
            <p>&nbsp;</p>
            <h2 class="white">
                Our Commitment to You
            </h2>
            <p class="white">
                With Pinnacle - you are a partner, not a vendor. Pinnacle remains committed to building a partnership with you to increase your revenue and grow your business. We offer you increased dispatch volume, competitive rates, online billing, fast payment, highly trained dispatchers, and a dedicated vendor relations staff available to speak directly with you. When you partner with Pinnacle, you have access to support such as:
            </p>

            <ul class="white">                
                <li>Light, medium, and heavy duty dispatches</li>
                <li>Flexible payment options</li>
                <li>Innovative Preferred Partner Program</li>
            </ul>
            <p>&nbsp;</p>
            <p class="white">
                Service Partners dedicated to customer service are our first priority and receive most of our business. To ensure Pinnacle rewards its service providers fairly, we have implemented a service provider rating program. Partners who fill out a contract, score well on customer satisfaction surveys, have appropriate equipment, meet ETAs and maintain current insurance licenses receive a higher rating and are offered more dispatches. It's a win for you, Pinnacle, and the customers we share.

            </p>
            <p>&nbsp;</p>
            <h2 class="white">Become A Preferred Partner</h2>
            <p class="white">Our philosophy is simple: when we win, you win! Our innovative Preferred Partner Program can get you on the road to making more money by fulfilling these simple requirements:</p>
           
<ul class="white">
                <li>Maintaining A High Call Acceptance Score</li>
                <li>Quick Response Times and Meeting ETAs</li>
                <li>Highest Customer Satisfaction Scores</li>
                <li>Professionalism and a customer-focused attitude</li>
            </ul>

<p>&nbsp;</p>


            <!--<a href="@Url.Action("Index", "Register", new { area = "" })" class="button huge  anthracite-gradient ">Register Your Membership</a> &nbsp;&nbsp;&nbsp;-->
        </div>
    </div>
</div>
<div class="section-holder">

</div>
<div class="gap gap-big center">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h4>
                    Already a partner? <a href="@Url.Action("Login", "Account", new { area = "" })" class="black">Log In to find out more. </a>
                    Ready to join our network? <a href="@Url.Action("Index", "Apply", new { area = "" })" class="black">Click here to complete an application.</a>
                </h4>
            </div>
        </div>
    </div>
</div>
<div class="bg-gray">
    <div class="container">
        <div class="gap">
            &nbsp;
        </div>
        <div class="row">
            <div class="span12">
                <h1>
                    Pinnacle Partner Portal Features
                </h1>
                <p>
                    We understand you are running a business and have financial obligations. That is
                    why we are committed to paying you quickly for services rendered. We offer flexible
                    billing options that allow us to process your invoice faster, resulting in expedited
                    payment.
                </p>
                <p>
                    The Pinnacle Partner Portal Application that will allow
                    you to easily interact with the Pinnacle Partner Network from any computer. Some
                    of the benefits include:
                </p>
                <br>
                <div class="gap gap-small gap-border">
                </div>
            </div>
        </div>

        <div class="gap">
            <div class="row row-wrap">
                <div class="span4">
                    <div class="thumb">
                        <div class="thumb-header-left">
                            <i class="icon-bolt box-icon-big box-icon-to-black round animate-icon-left-to-right">
                            </i>
                        </div>
                        <div class="thumb-caption">
                            <h4 class="thumb-title">
                                Online Invoicing
                            </h4>
                            <p class="thumb-desc">
                                We often are told that our online processing is the easiest in the industry. Submit
                                your invoice by logging in to the Pinnacle Partner Portal<a href="https://www.pinnacleproviders.com/"></a>
                                and your payment will be processed within 10 days.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="thumb">
                        <div class="thumb-header-left">
                            <i class="icon-bar-chart  box-icon-big box-icon-to-black round animate-icon-left-to-right">
                            </i>
                        </div>
                        <div class="thumb-caption">
                            <h4 class="thumb-title">
                                Partner Dashboard
                            </h4>
                            <p class="thumb-desc">
                                Get insight into your Service Ratings, Administrative Ratings and access other features through our informative ISP Partner Portal.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="thumb">
                        <div class="thumb-header-left">
                            <i class="icon-credit-card  box-icon-big box-icon-to-black round animate-icon-left-to-right">
                            </i>
                        </div>
                        <div class="thumb-caption">
                            <h4 class="thumb-title">
                                Direct Deposit
                            </h4>
                            <p class="thumb-desc">
                                Enjoy the flexibility and convenience of having your payment
                                directly deposited into your bank account. Or, if you prefer, we will mail your
                                check to you.
                                <br />
                                <br />

                            </p>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="thumb">
                        <div class="thumb-header-left">
                            <i class="icon-compass  box-icon-big box-icon-to-black round animate-icon-left-to-right">
                            </i>
                        </div>
                        <div class="thumb-caption">
                            <h4 class="thumb-title">
                                Manage Locations and Areas Serviced
                            </h4>
                            <p class="thumb-desc">
                                Set up and maintain your Dispatch locations and designate ZIP Code based service areas to make sure you receive dispatches that accurately reflect your coverage areas.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="thumb">
                        <div class="thumb-header-left">
                            <i class="icon-envelope-alt  box-icon-big box-icon-to-black round animate-icon-left-to-right">
                            </i>
                        </div>
                        <div class="thumb-caption">
                            <h4 class="thumb-title">
                                Mail or Fax Invoices
                            </h4>
                            <p class="thumb-desc">
                                Payment is issued within 30 days if you mail or fax your invoice.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="thumb">
                        <div class="thumb-header-left">
                            <i class="icon-group box-icon-big box-icon-to-black round animate-icon-left-to-right">
                            </i>
                        </div>
                        <div class="thumb-caption">
                            <h4 class="thumb-title">
                                Manage Users
                            </h4>
                            <p class="thumb-desc">
                                Set up sub accounts with restricted security access so different departments can access your account without divulging sensitive information.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-holder">
    <div id="section-testimonials">
    </div>
</div>
<div data-bg-img="../../Content/home/img/bg/headlights_parallax.jpg" class="bg-mask shadow-inner">
    <div class="container mask-front">
        <div class="row">
            <div class="span8 offset2 center">
                <div class="gap gap-big">
                    <h2 class="white">
                        What Our Service Network Customers Are Saying about the Pinnacle Partner Network
                    </h2>
                    <div class="gap gap-small">
                    </div>
                    <div class="fredsel-wrapper">
                        <div class="row">
                            <ul class="list fredsel" id="fredsel-pagi">
                                <li class="span8">
                                    <!-- START TESTIMONIAL -->
                                    <div class="testimonial-bottom testimonial-color">
                                        <div class="testimonial-inner">
                                            <blockquote>
                                                <p>
                                                    It is a relief to work with a company that is always striving to help its service
                                                    providers as well as its members.
                                                </p>
                                            </blockquote>
                                        </div>
                                        <div class="testimonial-author">
                                            <p class="testimonial-author-name white">
                                                Mona Chiusano, Casey's Auto Service, Inc.
                                            </p>
                                        </div>
                                    </div>
                                    <!-- END TESTIMONIAL -->
                                </li>
                                <li class="span8">
                                    <!-- START TESTIMONIAL -->
                                    <div class="testimonial-bottom testimonial-color">
                                        <div class="testimonial-inner">
                                            <blockquote>
                                                <p>
                                                    ...with the variety of towing calls your company handles, we have had a good source
                                                    of revenue from Pinnacle Dispatch Solutions.
                                                </p>
                                            </blockquote>
                                        </div>
                                        <div class="testimonial-author">
                                            <p class="testimonial-author-name white">
                                                John Hill, Southern Kentucky Towing Services
                                            </p>
                                        </div>
                                    </div>
                                    <!-- END TESTIMONIAL -->
                                </li>
                                <li class="span8">
                                    <!-- START TESTIMONIAL -->
                                    <div class="testimonial-bottom testimonial-color">
                                        <div class="testimonial-inner">
                                            <blockquote>
                                                <p>
                                                    Pinnacle Dispatch Solutions's Vendor Relations staff is among the friendliest in the business. They
                                                    are always available to answer any of my questions or help solve any of my concerns.
                                                    Pinnacle Dispatch Solutions's staff is among the most professional in the business. The dispatchers
                                                    are always concise and accurate.
                                                </p>
                                            </blockquote>
                                        </div>
                                        <div class="testimonial-author">
                                            <p class="testimonial-author-name white">
                                                Mike Inman, Auto Rescue
                                            </p>
                                        </div>
                                    </div>
                                    <!-- END TESTIMONIAL -->
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="fredsel-pagi-pager" class="fredsel-pagination center">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-holder">
    <div id="section-buy-it-now">
    </div>
</div>
<div class="container">
    <div class="gap gap-big center">
        <h1>
            What are you waiting for?
        </h1>
        <p>
            The Pinnacle Partner Portal offers professional service providers like you a cutting-edge
            way to conduct business online.
        </p>
        <p>&nbsp;</p>
        <a href="@Url.Action("Index", "Register", new { area = "" })" class="btn btn-mega">Register to use the Pinnacle Partner Portal</a> &nbsp;&nbsp;&nbsp; <a href="@Url.Action("Index", "Apply", new { area = "" })" class="btn btn-primary btn-mega">Apply to become a Partner</a>

    </div>
</div>
