@model VendorPortal.Models.LogOnModel
@{
    ViewBag.Title = "Login";
}
<div class="leader relative">
    &nbsp;
</div>
<div class="constrain">
    <div class="columns with-padding">
        <div class="new-row-tablet new-row-mobile seven-columns twelve-columns-tablet instructions margin-top ">
            <h2 class="thin">
                Welcome
            </h2>
            <p>
                The Pinnacle Partner Portal offers our Service Providers a cutting-edge way to do
                business online. Please enter your Username and Password to access the system.
            </p>
            <div class="alert alert-info margin-top">
                <h3>
                    Not a Partner?
                </h3>
                <p>
                    Learn more about the <a href="/" class="blue">
                        Pinnacle Dispatch Network and innovative
                        Pinnacle Partner Portal.
                    </a>
                </p>
                <h3>
                    Ready to Sign Up?
                </h3>
                <p>
                    If you are ready to join one of the nation's leading dispatch networks then <a href="@Url.Action("Index", "Apply", new { area = "" })" class="blue">
                        apply to become a Partner today.
                    </a>
                </p>
            </div>
            <div class="alert alert-help  margin-top">
                <p>
                    <strong>Registration and Log In Help</strong>
                </p>
                @Html.Partial("_RegistrationHelpContent")
            </div>
        </div>
        <div class="new-row-tablet new-row-mobile one-column twelve-columns-tablet">
        </div>
        <div class="new-row-tablet new-row-mobile four-columns twelve-columns-tablet margin-top">
            <form method="post" action="" id="form-login" formtitle="Login" class="frmWrapper">
                @Html.Hidden("returnUrl", Request.QueryString["returnUrl"])
                <p class="button-height block-label">
                    <!-- The autocomplete="off" attributes is the only way to prevent webkit browsers from filling the inputs with yellow -->
                    <label for="input" class="label">
                        Username or Service Provider/Vendor ID #
                    </label>
                    @Html.TextBoxFor(u => u.UserName, new
           {
               name = "login_username",
               id = "login_username",
               value = "",
               @class = "validate[required] input with-tooltip full-width tooltip-right",
               autocomplsete = "off",
               title = "User name",
               @error_required = "Please type your Username or Service Provider/Vendor ID #"
           })
                </p>
                <p class="button-height block-label">
                    <!-- The autocomplete="off" attributes is the only way to prevent webkit browsers from filling the inputs with yellow -->
                    <label for="input" class="label">
                        Password
                    </label>
                    @Html.PasswordFor(u => u.Password, new
           {
               name = "login_password",
               id = "login_password",
               value = "",
               @class = "validate[required] input with-tooltip full-width tooltip-right",
               autocomplsete = "off",
               title = "Password",
               @error_required = "Please type your password"
           })
                </p>
                <button type="submit" class="btn btn-large btn-primary " id="btnLogin">
                    Log In
                </button>
                <p class="float-right margin-top big-text">
                    <a href="@Url.Action("Index", "ForgotPassword")">Forgot Password?</a>
                </p>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#form-login').validationEngine({ promptPosition: "topLeft" });
    });
</script>
