@model VendorPortal.Models.UserProfileModel
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_LoginMaster.cshtml";
    string passwordResetToken = ViewData["PasswordResetToken"].ToString();
    bool isResetPasswordTokenValid = (bool)ViewData["IsResetPasswordTokenValid"];
    string userName = ViewData["UserName"].ToString();
    string email = ViewData["Email"] != null ? ViewData["Email"].ToString() : string.Empty;
}
<div class="leader relative">
    &nbsp;
</div>
<div class="with-padding">
    <div class="columns">
        <div class="three-columns">
        </div>
        <div class="six-columns">
            <form id="frmChangePassOnForgotPass" method="post" action="javascript:void(0)" class="frmWrapper">
                @Html.Hidden("passwordResetToken", passwordResetToken)
                @Html.Hidden("userName", userName)
                @Html.Hidden("email", email)
                @if (isResetPasswordTokenValid == true)
                {
                    <label for="NewPassword" class="label" style="font-weight: bold">
                        New Password <span class="star red">*</span>
                    </label>
                    @Html.PasswordFor(c => c.ChangePasswordModel.NewPassword, new { @class = "input full-width validate[required, maxSize[50],minSize[7]]" })

                    <label for="ConfirmPassword" class="label" style="font-weight: bold">
                        Confirm Password <span class="star red">*</span>
                    </label>
                    @Html.PasswordFor(c => c.ChangePasswordModel.ConfirmPassword, new { @class = "input full-width validate[required, equals[ChangePasswordModel_NewPassword] maxSize[50]]" })
                    <label class="label">
                    </label>
                    <button id="btnChangePassOnForgotPass" class="button huge green-gradient glossy full-width margin-top margin-bottom"
                            type="submit">
                        Update Password
                    </button>
                }
                else
                {
                    <p class="float-right margin-top big-text">
                        The reset password time has expired.  Please click Forgot Password and try again.<br />
                        <a href="@Url.Action("Index", "ForgotPassword")" class="button gray-gradient glossy">
                            Forgot
                            Password?
                        </a>
                    </p>
                }
            </form>
        </div>
        <div class="two-columns">
        </div>
    </div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>
<script type="text/javascript" language="javascript">

    $(function () {
        $("#frmChangePassOnForgotPass").validationEngine();

        //        $("#frmChangePassOnForgotPass input").change(function (e) {
        //            var isFormDirty = false;
        //            $("#frmChangePassOnForgotPass input").each(function () {
        //                if ($.trim($(this).val()).length > 0) {
        //                    isFormDirty = true;
        //                }
        //            });

        //            if (isFormDirty) {
        //                $("#btnChangePassOnForgotPass").removeAttr("disabled");
        //            }
        //            else {
        //                $("#btnChangePassOnForgotPass").attr("disabled", "disabled");
        //            }
        //        });
    });


</script>
