@model Martex.DMS.Models.ChangePasswordModel
@{
    Layout = null;
    var maxPasswordLength = 0;
    if (System.Configuration.ConfigurationManager.AppSettings["MaxPasswordLength"] != null)
    {
        maxPasswordLength = int.Parse(System.Configuration.ConfigurationManager.AppSettings["MaxPasswordLength"].ToString());
    }
}
<div>
    <fieldset class="fieldset">
        <legend class="legend">Change Password</legend>
        <div class="columns">
            <div class="twelve-columns">
                <ul style="font-family: Microsoft Sans Serif; margin-bottom: 5px; font-size: small">
                    <li>Your password has expired, it must be changed every 90 days. </li>
                    <li>Please change the password. </li>
                    <li>The Password must be different than the last 5 passwords you have used. </li>
                    <li>Password must be a minimum of 7 characters and maximum of @maxPasswordLength characters
                        and must contain at least one special character. For example: @@ # $ % ^ & * ( ).
                    </li>
                    <li>Passwords are case sensitive. </li>
                </ul>
                <br />
                <form id="frmChangeExpiredPassword" method="post" action="javascript:void(0)">
                <p class="button-height inline-large-label ">
                    <label for="OldPassword" class="label">
                        Old Password <span class="star red">*</span>
                    </label>
                    @Html.PasswordFor(c => c.OldPassword, new { @class = "input full-width2 validate[required, maxSize[50]]" })
                </p>
                <p class="button-height inline-large-label ">
                    <label for="NewPassword" class="label">
                        New Password <span class="star red">*</span>
                    </label>
                    @Html.PasswordFor(c => c.NewPassword, new { @class = "input full-width2 validate[required, maxSize[" + @maxPasswordLength + "],minSize[7]]" })
                </p>
                <p class="button-height inline-large-label ">
                    <label for="ConfirmPassword" class="label">
                        Confirm Password <span class="star red">*</span>
                    </label>
                    @Html.PasswordFor(c => c.ConfirmPassword, new { @class = "input full-width2 validate[required, equals[NewPassword]]" })
                </p>
                <br />
                <p class="button-height inline-large-label">
                    <label class="label">
                    </label>
                    <button id="btnChangeExpiredPassword" class="button full-width2 glossy green-gradient"
                        type="submit">
                        Update Password
                    </button>
                </p>
                </form>
            </div>
        </div>
    </fieldset>
</div>
<script type="text/javascript" language="javascript">
    $(document).ready(function (e) {
        $("#OldPassword").focus();
        if ("@maxPasswordLength" == "0") {
            openAlertMessage("MaxPasswordLength key is missing in the system");
        }
    });

    $(function () {
        $("#frmChangeExpiredPassword").validationEngine();
        $("#frmChangeExpiredPassword input").change(function (e) {
            var isFormDirty = false;
            $("#frmChangeExpiredPassword input").each(function () {
                if ($.trim($(this).val()).length > 0) {
                    isFormDirty = true;
                }
            });
        });
    });

    $("#btnChangeExpiredPassword").click(function (e) {

        var $form = $("#frmChangeExpiredPassword");
        var formData = $form.serializeArray();

        if ($form.validationEngine('validate') == false) {
            return false;
        }
        if ($("#OldPassword").val() == $("#NewPassword").val()) {
            openAlertMessage("Password must be different than the last 5 passwords you have used.");
            return false;
        }
        $.ajax({
            type: 'POST',
            url: '@Url.Action("UpdatePassword", "Account", new { area = "" })',
            traditional: true,
            data: formData,
            cache: false,
            async: true,
            global: true,
            success: function (msg) {
                $form.clearMessages();
                if (msg.Status == "Success") {
                    var kendoWindowID = $(".k-window-content").attr("id");
                    $("#" + kendoWindowID).data('kendoWindow').close();
                    openAlertMessage("Password Updated Successfully");
                    //window.location.reload();
                }
                else if (msg.Status == "Failure") {
                    openAlertMessage(msg.Data);
                }
            }
        }); // end of Ajax options
        return false;
    });
</script>
