@using Telerik.Web.Mvc.UI
@if (ViewData["ReadOnly"] == null)
{
    <span class="phone-input">
        @if (ViewData["ShowPhoneType"] == null || (bool)ViewData["ShowPhoneType"] == true) {
            @Html.DropDownList("ddlPhoneType", ViewData[Martex.DMS.ActionFilters.StaticData.PhoneType.ToString()] as IEnumerable<SelectListItem>, new { @class = "select phoneType compact expandable-list", style = "width:45px" })
        }
        @Html.DropDownList("ddlCountryCode", ViewData[Martex.DMS.ActionFilters.StaticData.CountryCode.ToString()] as IEnumerable<SelectListItem>, new { @class = "select countryCode compact expandable-list", style = "width:30px" })
       <span class="input">
       @if (ViewData["IsRequired"] == null || ViewData["IsRequired"].Equals("false"))
       {
        @Html.TextBox("txtPhoneNumber", null, new { @class = "validate[funcCall[checkPhone]] input-unstyled", size = 12, maxlength = 12, style = "width:80px;" })
       }
       else
       {
            @Html.TextBox("txtPhoneNumber", null, new { @class = "validate[required,funcCall[checkPhone]] input-unstyled", size = 12, maxlength = 12, style = "width:80px;" })
       }
       
        <span>X</span>
        @Html.TextBox("txtExtension", null, new { @class = "validate[maxSize[10], minSize[2], custom[onlyNumberSp]] input-unstyled", size = 4, maxlength = 8, style = "width:40px;" }) </span>
        @if (ViewData["ShowCallIcon"] == null || (bool)ViewData["ShowCallIcon"] == true)
        {
           
        <label for="pseudo-input-9" class="button compact orange-gradient">
            <span class="icon-phone small-margin-left" id="@(ViewData.TemplateInfo.HtmlFieldPrefix + "_call")">
            </span>
        </label>
        }
    </span>
}
else
{
    string customClassName = ViewData["customClassName"] == null ? string.Empty : ViewData["customClassName"].ToString();
    
    <span>
    @if (ViewData["Value"] == null)
    { 
        ViewData["Value"] = string.Empty; 
    }
    @Html.Label(ViewData["Value"] as string, new { id = @ViewData.TemplateInfo.HtmlFieldPrefix + "_lblPhoneNumber", datatype = "phone" })
   @if (ViewData["ShowCallIcon"] == null || (bool)ViewData["ShowCallIcon"] == true)
   {
        <span class="icon-phone icon-size2 small-margin-left @customClassName" id="@(ViewData.TemplateInfo.HtmlFieldPrefix + "_call")" data = "@ViewData["Value"]">
        </span>
   }
   
    </span>
}
<script language="javascript" type="text/javascript">
<!--
    $(function () {
        var phoneType = '@ViewData["PhoneTypeValue"]';
        var phoneNumber = '+@ViewData["Value"]';
        var prefix = '#@ViewData.TemplateInfo.HtmlFieldPrefix';
        var isControlReadonly = '@ViewData["ReadOnly"]';
        try {

            if (phoneNumber.length > 1) {
                SetPhoneValues(prefix, phoneNumber, (isControlReadonly.length > 0));
            }
            if (phoneType.length > 0) {
                $(prefix + "_ddlPhoneType option").each(function () {
                    if ($(this).val() == phoneType) {
                        $(this).attr('selected', 'selected');
                    }
                });
            }
        }
        catch (error) {
        }

    });
//-->
</script>
